body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    direction: ltr; 
    background-image: url('../media/background.png');
    background-size: cover;
    background-position: center;
}

.container {
    width: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

header {
    margin: 0;
    color: #007BFF;
}

.welcome-message {
    margin: 20px 0;
    color: #333;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
#logo {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto; 
}
